APP_NAME=tg-bot
APP_VERSION=1.0.0

TELEGRAM_BOT_TOKEN=replace_me

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_USER_ACTIONS=user-actions

PRODUCT_STORE_GRPC_ADDRESS=localhost:50051
PRODUCT_STORE_GRPC_TIMEOUT=5s