APP_NAME=product-store
APP_VERSION=1.0.0

SERVER_PORT=8080
READINESS_CHECK_INTERVAL=10s
READINESS_CHECK_TIMEOUT=2s

GRPC_PORT=50051
GRPC_TIMEOUT=5s

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=price_catcher
DB_SSLMODE=disable
DB_MAX_POOL_CONNS=30
DB_MIN_POOL_CONNS=5

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_TASK_CHECK_PRICES=task-check-prices
KAFKA_TOPIC_PRODUCT_CHECKED=product-checked
KAFKA_TOPIC_PRODUCT_CHECKED_DLQ=product-checked.dlq
KAFKA_TOPIC_PRODUCT_PRICE_CHANGED=product-price-changed
KAFKA_TOPIC_USER_ACTIONS=user-actions
KAFKA_GROUP_ID=product-store

PRICE_CHECK_INTERVAL=5m
PRICE_CHECK_BATCH_LIMIT=5
