APP_NAME=monitor
APP_VERSION=1.0.0

GRPC_PORT=50052
GRPC_TIMEOUT=5s

KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=monitor
KAFKA_TOPIC_TASK_CHECK_PRICES=task-check-prices
KAFKA_TOPIC_PRODUCT_CHECKED=product-checked
